:root {
  /* ### Primary */
  --strong-yan: #26baa4;
  --light-blue: hsl(233, 100%, 69%);
  /* ### Neutral */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --font-weigth-400: 400;
  --font-weigth-600: 600;
  --size-hgroup-45: 45%;
  --margin-bottom-1-5rem: 1.5rem;
  --margin-between-sections-10-rem: 11.1rem;
  --aling-title-text: center;
}

body {
  background: url(../images/bg-header-desktop.png) 65% top no-repeat;
}

section {
  margin-bottom: 8.7rem;
}

.introduction {
  width: 100%;
  height: 100%;
  margin-top: 8.25rem;
  margin-bottom: var(--margin-between-sections-10-rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.25rem;
}

.introduction__logo {
  width: 8.1rem;
}

.introduction__wrapper {
  width: 50%;
}

.introduction__content {
  margin-bottom: 3rem;
  text-align: var(--aling-title-text);
}

.introduction__title {
  margin-bottom: var(--margin-bottom-1-5rem);
  font-size: 2.72em;
  font-weight: var(--font-weigth-600);
  line-height: 1;
  color: var(--dark-grayish-blue);
}

.introduction__description {
  font-size: 1.15em;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.download {
  margin-top: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.download__btn {
  padding: .95rem 3rem;
  font-weight: var(--font-weigth-400);
  color: #fff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.download__btn--ios {
  background-color: var(--strong-yan);
  box-shadow: 0rem .1875rem .1rem 0rem #1c8777;
}

.download__btn--mac {
  background-color: var(--light-blue);
  box-shadow: 0rem .1875rem .1rem 0rem hsl(233, 44%, 46%);
}

.track {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contents {
  width: var(--size-hgroup-45);
  text-align: var(--aling-title-text);
  margin: 0 auto;
}

.contents__title {
  margin-bottom: var(--margin-bottom-1-5rem);
  font-size: 2.1em;
  font-weight: var(--font-weigth-600);
  color: var(--dark-grayish-blue);
  line-height: 3.2rem;
}

.contents__description {
  font-size: 1.05em;
  color: var(--grayish-blue);
  line-height: 1.5;
}

.track__snippets {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.snippets__image {
  width: 48rem;
}

.snippets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4.25rem;
  padding: 1.5rem;
}

.snippets__content {
  width: 54%;
}

.snippets__title {
  display: inline-block;
  font-size: 1.35em;
  font-weight: var(--font-weigth-600);
  margin-bottom: .6rem;
}

.snippets__description {
  font-size: .9em;
  color: var(--grayish-blue);
  line-height: 1.75;
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}

.workflow__tools {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 23rem));
  justify-content: space-between;
  margin-bottom: 2rem;
}

.tools__wrapper {
  text-align: center;
}

.tools__containerImage {
  min-height: 3rem;
  margin-bottom: 2.1rem;
}

.tools__image {
  width: 3rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}

.tools__name {
  margin-bottom: 1.1rem;
  font-size: 1.35em;
  font-weight: var(--font-weigth-600);
  display: inline-block;
  color: var(--dark-grayish-blue);
}

.tools__description {
  line-height: 1.7;
  color: var(--grayish-blue);
}

.workflow__enterprices {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
  gap: 5rem;
}

.enterprice__icon {
  width: 10rem;
}

.clipboard__download {
  margin-top: 2.75rem;
}

.menu {
  width: 100%;
  background-color: hsla(202, 11%, 66%, 0.105);
  padding: 1.8rem;
}

.menu__wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu__image {
  width: 4.5rem;
}

.menu__nav {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  gap: 2rem;
}

.nav__link {
  font-size: 1.15em;
  color: var(--dark-grayish-blue);
}

.menu__containerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.menu__icon {
  width: 2.1rem;
}

.nav__link:hover {
  color: var(--strong-yan);
}

.menu__icon {
  cursor: pointer;
}

.download__btn:hover {
  opacity: .8;
}

@media screen and (max-width:490px) {
  :root {
    --margin-between-sections-10-rem: 7rem;
    --size-hgroup-45: 100%;
  }

  .introduction {
    margin-top: 6rem;
    gap: 2.25rem;
  }

  .introduction__logo {
    width: 8.25rem;
  }

  .introduction__wrapper {
    width: 100%;
    padding: 3.7rem;
  }

  .download {
    flex-direction: column;
    text-align: center;
  }

  .clipboard__download {
    padding: 3.7rem;
  }

  .download__btn {
    width: 100%;
  }

  .contents {
    padding: 3.55rem;
  }

  .track__snippets {
    flex-direction: column;
  }

  .snippets__image {
    width: 24rem;
  }

  .snippets__wrapper {
    align-items: center;
  }

  .workflow__tools {
    justify-content: center;
  }

  .workflow__enterprices {
    justify-items: center;
  }

  .menu__wrapper {
    flex-direction: column;
    gap: 2rem;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .menu__nav {
    justify-content: center;
  }

  .nav__link {
    text-align: center;
  }

  .menu__containerIcons {
    flex-direction: column;
  }
}